<!DOCTYPE html>
<html lang="en">
<head>
	<title>Example form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="styles/example.css">
</head>
<body ng-app="ExampleApp">
	 <div class="container" ng-controller="ExampleAppController as ctrl">
		<div class="header">
			<h1 aria-label="Heading">Example</h1>
		</div>
		<div class="image-list">
			<ul>
				<li>
					<title id="title">Vector creature image</title>
					<a xlink:href="https://rakkatak.github.io/sandbox/essential-test/images/flower.png" tabindex="0" role="link">
					<img aria-label="Flower image" src="images/flower.png" class="responsive-image">
					</a>
				</li>
				<li>
					<title id="title">Vector creature image</title>
					<a xlink:href="https://rakkatak.github.io/sandbox/essential-test/images/imp-vector-creature.svg" tabindex="0" role="link">
					<img aria-label="Bat image" src="images/imp-vector-creature.svg" class="responsive-image">
					</a>
				</li>
			</ul>
		</div>
		<div aria-label="Quote Section" class="quote-section">
			<b>"The most beautiful experience we can have is the mysterious”</b><br>- Albert Einstein.
		</div>
		<div class="form-section">
			<form>
				<label aria-label="Display name" for="displayName">Display name:</label>
				<input ng-model="ctrl.displayName" type="text" id="displayName"> <span class="display-error-text">{{ctrl.displayNameError}}</span><br><br>
				<label aria-label="Date of birth" for="dateOfBirth">Date of birth:</label>
				<input ng-model="ctrl.dateOfBirth" type="date" id="dateOfBirth"><br><br>
				<input ng-model="ctrl.option1" type="checkbox" id="option1" value="option 1">
				<label aria-label="Option 1" for="option1"> Option 1</label><br>
				<input ng-model="ctrl.option2" type="checkbox" id="option2" value="option 2">
				<label aria-label="Option 2" for="option2"> Option 2</label><br><br>
				<label aria-label="Attachment" for="fileName">Attachment:</label><br><br>
				<input ng-model="ctrl.fileName" type="file" id="fileName" onChange="angular.element(this).scope().setFileName(this)"><br><br>
				<button type="button" ng-click="ctrl.sendItems();">Send</button><br><br>
				<span class="response-text">{{ctrl.response}}</span>
			</form>
			<p class="read-more-text">Read more <span class="screen-reader-text">[about our offer]</span></p>
		</div>
	 </div>

</body>
<footer aria-label="footer">© 2020 Example</footer>
</html>
